<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.fiora.app" version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>فيورا</name>
  <description>تطبيق فيورا</description>
  <author email="dev@fiora.app">Fiora</author>

  <content src="index.html" />

  <icon src="logo_512x512.png" />

  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <platform name="android">
    <allow-intent href="market:*" />
  </platform>

  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="22" />
  <preference name="android-targetSdkVersion" value="33" />
  <preference name="Fullscreen" value="false" />
  <preference name="orientation" value="portrait" />

</widget>
