<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.fiora.app" version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>فيورا</name>
  <description>تطبيق فيورا</description>
  <author email="dev@fiora.app">Fiora</author>

  <content src="index.html" />

  <icon src="logo_512x512.png" />

  <platform name="android">
    <icon src="logo_512x512.png" density="ldpi"    width="36"  height="36"  />
    <icon src="logo_512x512.png" density="mdpi"    width="48"  height="48"  />
    <icon src="logo_512x512.png" density="hdpi"    width="72"  height="72"  />
    <icon src="logo_512x512.png" density="xhdpi"   width="96"  height="96"  />
    <icon src="logo_512x512.png" density="xxhdpi"  width="144" height="144" />
    <icon src="logo_512x512.png" density="xxxhdpi" width="192" height="192" />
    <allow-intent href="market:*" />
  </platform>

  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="22" />
  <preference name="android-targetSdkVersion" value="33" />
  <preference name="Fullscreen" value="false" />
  <preference name="orientation" value="portrait" />

</widget>
